fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
faiss-cpu
chromadb
pypdf
unstructured
numpy
pandas
google-generativeai==0.8.3
protobuf
python-multipart
watchdog